{% extends "base.html" %}

{% block title %}About- {% endblock %}

{% block content %}

<div class="col-lg-9 offset-lg-2 my-5">
  <br>
  <h1>About the User Story Team</h1> <hr>
  <h4><em><b>Who are we?</em></h4>
  <h5>We are a group of 5 fellow employees, just like you. We saw how the tech our group was coming out with rarely represented
  what we needed, so we decided to do something about it.</h5><br>
  <h4><em><b>How can you get involved?</em></h4>
  <h5>Submit user stories and vote on ones others have written! Provide your contact information in the forms after you
      submit and you'll be a part of the process!</h5><br>
  <h4><em><b>Contact Us</em></h4>
  <h5>user_stories_team@fakeurl.abc</h5>
</div>

{% endblock %}