{% extends "base.html" %}
{% set active_page = 'new_submission' %}

{% block title %}New Submission - {% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-7 offset-lg-2 my-5">
    <h1>Write a User Story</h1><hr>
    <form method="POST" action="{{ url_for('new_submission') }}">
      <div class="form-group">
        <label>Choose a Tool</label>
        <SELECT name="tool">
            {% for tool in tools %}
            <OPTION value="{{tool.tool}}">{{tool.tool}}</OPTION>
            {% endfor %}
        </SELECT>
      </div>
      <div class="form-group">
        <label>As a</label>
        <textarea required minlength="3" class="form-control" name="role" rows="1" placeholder="Enter your work role"></textarea>
      </div>
        <div class="form-group">
        <label>I need</label>
        <textarea required minlength="10" class="form-control" name="feature" rows="2" placeholder="Enter the feature you are requesting"></textarea>
      </div>
        <div class="form-group">
        <label>so that</label>
        <textarea required minlength="10" class="form-control" name="rationale" rows="2" placeholder="Enter why you need this feature"></textarea>
      </div>
      <hr>
      <input class="btn btn-primary form-control" type="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock %}